shamefully-hoist=true
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=*prettier*
# public-hoist-pattern[]=slate
# public-hoist-pattern[]=slate-react
# public-hoist-pattern[]=@types/react
# public-hoist-pattern[]=express
# public-hoist-pattern[]=webpack
# public-hoist-pattern[]=mongodb
